/* GLOBAL VALUES */

:root {
  --global_margin: 0px;
  --left-margin: 0px;
  --right-margin: 0px;
  --line-size: 20px;
}

/* GENERAL */

.widg {
  font-family: "Iosevka Nerd Font";
  font-size: 14px;
  line-height: 1.5em;
}

.opt {
  background-color: var(--background);
}

/* ––––––––––––––––
––––––––––––––––––– BEHAVIOUR (pinned, open, alt)
––––––––––––––––––– */

.pinned {
  color:var(--background);
  background-color: var(--color3);
}

.textonly {
  display: inline;
}

.output {
  display: inline !important;
}
