/* GENERAL */
.widg {
  color: var(--color6);
  z-index: 1;
  float: left;
  display: flex;
  align-items: center;
  height: var(--line-size);
}

.bar-container {
  display: block;
  background-color: var(--background);
  height: var(--line-size);
  opacity: var(--bar-opacity);
  position: relative;
  z-index: -1;
}

.bar-container-transparent {
  background-color: transparent;
}

.icon-container {
  display: inline;
  height: var(--line-size);
  width: auto;
}

.icon {
  width: var(--line-size);
  height: var(--line-size);
  display: block;
  font-weight: 900;
  text-align: center;
  float: left;
  font-size: 12px;
  color:var(--background);
  background-color: var(--color5);
}

.icon.active {
  color:var(--background);
  background-color: var(--foreground);
}

.separator {
  color: var(--color2);
  margin-left: calc(var(--line-size)/2);
  margin-right: calc(var(--line-size)/2);
}

.output {
  overflow: hidden;
  white-space: nowrap;
  display: none;
  margin-left: calc(var(--line-size)/2);
  margin-right: calc(var(--line-size)/2);
  width: auto;
  color: var(--foreground);
}

.mr0 {
  margin-right: 0;
}

.bar-output {
  width: 60px;
  height: 4px;
  background-color: var(--color1);
  display: block
}

.container {
  display: block;
}

.popup {
  display: block;
}

.tray {
  display: inline;
}

.alt-text {
  display: none;
}

.hidden {
  display: none !important;
}
.nohidden {
  display: inline !important;
}

.opt {
  padding-right: calc(var(--line-size)/4);
  padding-left: calc(var(--line-size)/4);
}


/* ––––––––––––––––
––––––––––––––––––– SPECIAL BEHAVIOR (PER WIDGET)
––––––––––––––––––– */
#playing {
  width: auto;
}

#play-progress {
  margin-left: 0;
  color: var(--color8);
}

/* ––––––––––––––––
––––––––––––––––––– DEFAULT POSITIONS
––––––––––––––––––– */

#supernerd-widget-bar-top-coffee {
  top:var(--global_margin);
  z-index: -1;
}
#supernerd-widget-bar-bottom-coffee {
  bottom:var(--global_margin);
  z-index: -1;
}
#supernerd-widget-bar-top-coffee, #supernerd-widget-bar-bottom-coffee {
  left:var(--left-margin);
  right:var(--right-margin);
}

/* ––––––––––––––– TOP LEFT */
#supernerd-widget-apps-and-music-coffee, #supernerd-widget-apps-and-itunes-coffee {
  top:var(--global_margin);
  left:var(--left-margin);
  display:inline;
  white-space: nowrap;
}

/* ––––––––––––––– CENTER */
#supernerd-widget-date-time-coffee {
  top:var(--global_margin);
  width: 100%;
  display:flex;
  justify-content: center;
}

/* ––––––––––––––– TOP RIGHT */
#supernerd-widget-base-monitor-coffee {
  top:var(--global_margin);
  right:var(--right-margin);
  width:auto;
}

/* ––––––––––––––– BOTTOM LEFT */
#supernerd-widget-pomodoro-coffee {
  bottom: var(--global_margin);
  left: var(--left-margin);
  display:inline;
  white-space: nowrap;
}

/* ––––––––––––––– BOTTOM RIGHT */
#supernerd-widget-system-monitor-coffee {
  bottom:var(--global_margin);
  right:var(--right-margin);
}
